<hr class="raya">
<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Ubicación</h3>
      <p>Mitre y las Flores 6505</p>
    </div>
    <div class="footer-section">
      <h3>Síguenos</h3>
      <div class="social-links">
        <a href="https://facebook.com" target="_blank"><img src="/imagenes/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com" target="_blank"><img src="/imagenes/twitter.png" alt="Twitter"></a>
        <a href="https://instagram.com/99streetz.shop?igsh=MXU0bTBtYzI5MHoxNQ==" target="_blank"><img src="/imagenes/iglogo.webp" alt="Instagram"></a>
        <a href="https://linkedin.com" target="_blank"><img src="/imagenes/linkedin.png" alt="LinkedIn"></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 TravelFly. Todos los derechos reservados.</p>
  </div>
</footer>
